div {
    color: #000000;
    
}
.grey {
    color: #aaa;
    font-size: calc(16px + ((4 * (100vw - 320px)) / 1600));
}
h4 {
    line-height: 1.2
}
.body {
    background-color: #ffffff
}
.type {
    font-family: 'Satisfy', cursive;
    font-size: calc(35px + ((4 * (100vw - 320px)) / 1600))
}